@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 dark:bg-gray-900
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}


html, body {
  overflow-x: hidden;
}

body {
  position: relative
}

.control-react-select {
  border: 0 !important;
  border-radius: 6px !important;
  overflow: visible;
}

.input-react-select:focus {
  border: 0 !important;
}

.input-react-select {
  border: 0 !important;
}